.navBar {
  background-color: #7f2d6e !important;
  margin-bottom: 10px !important;
}

.navBar a{
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
}

.brand{
  font-weight: bold;
  font-size: 1.3rem;
}

.grow{
  flex-grow: 1;
}

.nativeColor{ 
  background-color: #7f2d6e !important;
  color:#fff !important}

  .nativeColor:hover{ 
    background-color: #fff !important;
    border: #7f2d6e 1px solid !important;
    color:#7f2d6e !important;}  

.main {
  min-height: 80vh;
 
}

.footer{
  margin-top: 10px;
  text-align: center;
}

.productImage{
  max-width: 100% !important;
  height: 400px !important;
  object-fit: contain !important;
}

.section{
  margin: 10px 0;
}

.form{
  max-width: 800px;
  margin: 0 auto;
}

.navButton{
  color:#fff !important;
  text-transform:initial !important;
}